/* Color
========================================================================== */
/* Layout
========================================================================== */
/* Pattern
========================================================================== */
/* Form
========================================================================== */
/* Alert
========================================================================== */
/* Control panel (Right)
========================================================================== */
/* Animation deleay properties
========================================================================== */
/* Bootstrap Col-* custom padding
========================================================================== */
.loading {
  position: fixed;
  z-index: 2000000000;
  left: 50%;
  top: 50%;
}
.loading .sk-double-bounce1 {
  background: #1f4377;
}
.loading .sk-double-bounce2 {
  background: #ddd33a;
}
.hide {
  display: none;
}
